.password-reset-page {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .password-reset-page h2 {
    margin-bottom: 25px;
    color: #333;
    font-size: 24px;
  }
    
    form {
      display: flex;
      flex-direction: column;
    }
    
    input {
      margin: 15px 0; 
      padding: 15px; 
      font-size: 18px; 
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
    button {
      padding: 15px; 
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 18px; 
    }
    
    button:hover {
      background-color: #45a049;
    }

    .success-message {
        color: green;
        margin-bottom: 10px;
      }
      
      .error-message {
        color: red;
        margin-bottom: 10px;
      }